body{
    background-color: rgba(0,22,50,255);
    padding: 5rem 0;
}


.container{
    width: 900px;
    margin: 0 auto;
    text-align: center;
}

.container h1{
    color: rgba(129,139,154,255);
}

.container h2{
    color: #fff;
}


.form-layout{
    text-align: left;
    background-color: rgba(248,249,250,255);
    padding: 2rem;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.form-layout input{
    margin-top: 3rem;
    padding: .6rem 1.8rem;
    background-color: coral;
    border: none;
    color: #fff;
    border-radius: 10px;
}
.form-layout input:hover{
    background-color: rgb(255, 68, 0);
}